<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ljl.com.httpdemo">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <application
        android:allowBackup="true"
        android:name=".GApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />v
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".VolleryActivity"/>
        <activity android:name=".activity.DownloadManagerActivity"/>
        <activity android:name=".activity.DesActivity"/>
        <activity android:name=".activity.MethodActivity"/>
        <activity android:name=".activity.CustomRequestActivity"/>
        <activity android:name=".activity.BitmapRequestActivity"/>
        <activity android:name=".activity.PostTextActivity"/>
        <activity android:name=".activity.FormUploadActivity"/>
        <activity android:name=".activity.FileDownloadActivity"/>
        <activity android:name=".activity.CacheActivity"/>
        <activity android:name=".activity.HttpsActivity"/>
        <activity android:name=".activity.SyncActivity"/>
        <activity android:name=".activity.RedirectActivity"/>
        <activity android:name=".activity.TestActivity"/>
        <activity android:name=".activity.MyLoginActivity"/>
        <activity android:name=".activity.MyRegisterActivity"/>
        <activity android:name=".activity.MmmainActivity"/>
        <activity android:name=".activity.MmmmainActivity"/>
        <activity android:name=".Bean.MainActivity"/>
    </application>

</manifest>